body {
	line-height: 16px;
	font-size: 16px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
}

.center {
	width: 1170px;
	margin: 0 auto;
}


.header {  
	background-image: url(../img/headerfon.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% auto;
	background-color: #2b2e4a;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

}


.header, .header a, .header a:hover {
	color: #fff;
	text-decoration: none;	
}


.activeboxlogo {
	float: left;
	background-image: url(../img/activeboxlogo.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 200px;
	height: 50px;
    padding: 36px 0px;
}
.top-bar nav a {
	display: inline-block;
	padding: 36px 25px;
	line-height: 50px;
}
.top-bar nav {
	float: right;
}
.top-bar:after {
	border-bottom: 1px solid #fff;
	content: "";
	width: 100%;
	opacity: 0.15;

}
.clear:after {
	display: table;
	clear: both;
	content: " "
}
.promo {
	padding: 150px 0px;
	text-align: center;
	text-transform: uppercase;
}
.promo-header {
	line-height: 71px;
	font-size: 65px;
}
.promo-sub-header {
	line-height: 33px;
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 78px;
}

.promo a {
	background-color: #e84545;
	padding: 0px 20px;
	line-height: 46px;
	display: inline-block;
}
.features {
	padding-top: 120px;
}

.features-item {
	width: 33.333%;
	float: left;
	height: 250px;
	text-align: center;
	margin-bottom: 75px;

}

.features-item h2 {
	margin: 34px 20px;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;

}

.features-item p {
	margin: 0px 45px;
	font-size: 14px;
}


.project {
	position: relative;
	color: #fff;
	text-align: center;
	width: 25%;
	overflow: hidden;
	display: block;
	float: left;
}

.project-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 40%;
	font-size: 14px;
	display: none;

}
.project-content h3{
	text-transform: uppercase;
	margin-bottom: 15px;
}

.project:hover .project-content {
	display: block;
	background-color: rgba(215, 68, 67, 0.9);
}
.project-bg  {
	height: 100%;
	background-color: 000;

}
.project-bg img {
	height: 100%;
	background-color: 000;
	display: block;
}

.project-bg, .project-content {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.footer-top {
	background-color: #3a3e64;
	padding: 65px;
	text-align: center;
    color: rgba(255, 255, 255, 0.5);

}
.footer-top-col {
	float: left;
	width: 33.333%;
	text-align: center;
	
}
.footer-top h3 {
	color: #fff;
	line-height: 22,5px;
	font-size: 14px;
	text-transform: uppercase;
	margin: 34px 20px;
}
.footer-top-socials a {
	border: 2px solid #fff;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0px 2px;
	border-radius: 2px;
	background-image: url('../img/cocial.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.footer-top-socials .fb {
	background-position: 15px center;
}

.footer-top-socials .in {
	background-position: -78px center;
}
.footer-bottom {
	background-color: #313454;
	padding: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	line-height: 22,5px;
	font-size: 14px;

}
.love {
	color: red;
}
.text {
	color: #fff;
}
